* {
    color: #576574;
}

body,
html {
    height: 100%;
    margin: auto;
}

nav {
    position: absolute;
    width: 100%;
    height: 4vw;
}

.nav-element {
    position: relative;
    padding-left: 3vw;
    padding-right: 1.5vw;
    top: 1.5vw;
    font-size: 2vw;
    z-index: 1;
    text-decoration: none;
}

a:hover {
    color: tomato;
}

body {
    background-image: url("../Images/background.jpg");

    position: relative;
    height: 100%;
    width: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
